h2 {
  color: red;
}
footer {
  background-color: azure;
  padding: 5rem;
  text-align: center;
}
body {
  background-color: aqua;
}
h1 {
  color: blue;
}
header {
  background-color: aquamarine;
  padding: 5rem;
  text-align: center;
}